USE [DBANANA]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEMS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[description] [varchar](128) NULL,
	[stock] [int] NOT NULL,
	[max_stock] [int] NOT NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ITEMS]    Script Date: 2016-01-24 21:39:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ITEMS] ON [dbo].[ITEMS]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_ITEMS] CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [CK_ITEMS]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_ITEMS_1] CHECK  (([max_stock]>=(0)))
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [CK_ITEMS_1]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_ITEMS_2] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [CK_ITEMS_2]
GO
