USE [DBANANA]
GO
/****** Object:  Table [dbo].[MEALS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEALS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[discount] [int] NOT NULL,
 CONSTRAINT [PK_MEALS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MEALS]    Script Date: 2016-01-24 21:39:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MEALS] ON [dbo].[MEALS]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MEALS]  WITH CHECK ADD  CONSTRAINT [CK_MEALS] CHECK  (([discount]>=(0)))
GO
ALTER TABLE [dbo].[MEALS] CHECK CONSTRAINT [CK_MEALS]
GO
