USE [DBANANA]
GO
/****** Object:  Table [dbo].[MEALS_ITEMS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEALS_ITEMS](
	[meal_id] [int] NOT NULL,
	[item_id] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MEALS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_MEALS_ITEMS_ITEMS] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS] ([id])
GO
ALTER TABLE [dbo].[MEALS_ITEMS] CHECK CONSTRAINT [FK_MEALS_ITEMS_ITEMS]
GO
ALTER TABLE [dbo].[MEALS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_MEALS_ITEMS_MEALS] FOREIGN KEY([meal_id])
REFERENCES [dbo].[MEALS] ([id])
GO
ALTER TABLE [dbo].[MEALS_ITEMS] CHECK CONSTRAINT [FK_MEALS_ITEMS_MEALS]
GO
