USE [DBANANA]
GO
/****** Object:  Table [dbo].[SUPPLY_ORDERS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLY_ORDERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_SUPPLY_ORDERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
