USE [DBANANA]
GO
/****** Object:  Table [dbo].[ORDERS_ITEMS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_ITEMS](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ORDERS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ITEMS_ITEMS] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS] ([id])
GO
ALTER TABLE [dbo].[ORDERS_ITEMS] CHECK CONSTRAINT [FK_ORDERS_ITEMS_ITEMS]
GO
ALTER TABLE [dbo].[ORDERS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ITEMS_ORDERS] FOREIGN KEY([order_id])
REFERENCES [dbo].[ORDERS] ([id])
GO
ALTER TABLE [dbo].[ORDERS_ITEMS] CHECK CONSTRAINT [FK_ORDERS_ITEMS_ORDERS]
GO
