USE [DBANANA]
GO
/****** Object:  Table [dbo].[SUPPLY_ORDERS_ITEMS]    Script Date: 2016-01-24 21:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLY_ORDERS_ITEMS](
	[supply_order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[amount] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLY_ORDERS_ITEMS_ITEMS] FOREIGN KEY([item_id])
REFERENCES [dbo].[ITEMS] ([id])
GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS] CHECK CONSTRAINT [FK_SUPPLY_ORDERS_ITEMS_ITEMS]
GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLY_ORDERS_ITEMS_SUPPLY_ORDERS] FOREIGN KEY([supply_order_id])
REFERENCES [dbo].[SUPPLY_ORDERS] ([id])
GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS] CHECK CONSTRAINT [FK_SUPPLY_ORDERS_ITEMS_SUPPLY_ORDERS]
GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_SUPPLY_ORDERS_ITEMS] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[SUPPLY_ORDERS_ITEMS] CHECK CONSTRAINT [CK_SUPPLY_ORDERS_ITEMS]
GO
